.control-panel {
    width: 100%;
    border-style: var(--panel-border-style);
    border-width: var(--panel-border-width);
    border-color: var(--panel-border);
    border-radius: var(--panel-border-radius);
    padding: var(--panel-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--panel-bg);
    box-sizing: border-box;
}

.control-panel h1 {
    margin-top: 2px;
    margin-bottom: 6px;
    font-size: 24px;
    color: var(--panel-text);
    font-family: monospace;
}

.control-panel-button-col {
    display: flex;
    flex-direction: column;
}

.control-panel-button-row {
    display: flex;
    flex-direction: row;
}

.control-panel button {
    height: 30px;
    width:100%;
}

.board-input {
    margin-top: 20px;
    width: 100%;
    background-color: var(--bg);
    height: 20px;
    font-family:'Courier New', Courier, monospace;
    color: var(--panel-text);
}

.board-input:focus {
    outline: none;
    box-shadow: none;
}