.solver-panel {
    width: 100%;
    border-style: var(--panel-border-style);
    border-color: var(--panel-border);
    border-width: var(--panel-border-width);
    border-radius: var(--panel-border-radius);
    box-sizing: border-box;
    padding: var(--panel-padding);
    background-color: var(--panel-bg);
}

.MuiTabs-indicator {
    display: none;
}

/* Small screens and up (sm breakpoint = 600px by default) */
@media (min-width: 600px) {
  .MuiTab-root {
    min-width: 0;
  }
}

.solution-text {
  height: 185px;
  color: var(--panel-text);
  font-size: 14px;
  line-height: 1.2;
  margin: 0px 5px 0px 5px;
  text-align: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.restriction-text {
  font-size: 12px;
}