:root {
  --bg: #bbbbbb;

  --button-bg: #868686;
  --button-border: #6d6d6d;
  --button-pressed: #808080;
  --button-txt: #0f0f0f;
  --button-inset-dark: #424242;
  --button-inset-light: #c2c2c2;

  --panel-bg: #aaaaaa;
  --panel-border: #a1a1a1;
  --panel-border-style: groove;
  --panel-border-width: 8px;
  --panel-padding: 0px;
  --panel-text: #202020;
  --panel-border-radius: 2px;

  --timer-bg: #cfcfcf;
  --timer-border: #dddddd;

  --slider-rail: #6b6b6b;
  --slider-marks: #2e2e2e;

  --puzzle-bg: #bbbbbb;

  --tile-bg:  #868686;
  --tile-text: #0f0f0f;
  --tile-border-color: #686868;
  --tile-filled-shadow-dark: #0000001a;
  --tile-filled-shadow-light: #dadada33;
  --tile-hover-shadow-dark: #00000026;
  --tile-hover-bg: #727272;
  --tile-active-shadow-dark: #0000001a;

  --puzzle-border-dark: #585858;
  --puzzle-border-light: #dbdbdb;
  --puzzle-border-shadow: #0000000d;

  --surface-text: #0f0f0f;

  color-scheme: light dark;
  background: var(--bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg);
}

button {
  background-color: var(--button-bg);
  border-style: outset;
  border-width: 3px;
  border-color: var(--button-border);
  color: var(--button-txt);
  font-family: monospace;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  min-width: 35px;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: var(--button-pressed);
  border-style: solid;
  border-top-color: var(--button-inset-dark);
  border-left-color: var(--button-inset-dark);
  border-right-color: var(--button-inset-light);
  border-bottom-color: var(--button-inset-light);
  box-sizing: border-box;
}

button.active {
  background-color: var(--button-pressed);
  border-style: solid;
  border-top-color: var(--button-inset-dark);
  border-left-color: var(--button-inset-dark);
  border-right-color: var(--button-inset-light);
  border-bottom-color: var(--button-inset-light);
  box-sizing: border-box;
}

button[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.7;
}

[data-theme="grey"] {
  --bg: #bbbbbb;

  --button-bg: #868686;
  --button-border: #6d6d6d;
  --button-pressed: #808080;
  --button-txt: #0f0f0f;
  --button-inset-dark: #424242;
  --button-inset-light: #c2c2c2;

  --panel-bg: #aaaaaa;
  --panel-border: #a1a1a1;
  --panel-border-style: groove;
  --panel-border-width: 8px;
  --panel-padding: 0px;
  --panel-text: #202020;
  --panel-border-radius: 2px;

  --timer-bg: #cfcfcf;
  --timer-border: #dddddd;

  --slider-rail: #6b6b6b;
  --slider-marks: #2e2e2e;

  --puzzle-bg: #bbbbbb;

  --tile-bg:  #868686;
  --tile-text: #0f0f0f;
  --tile-border-color: #686868;
  --tile-filled-shadow-dark: #0000001a;
  --tile-filled-shadow-light: #dadada33;
  --tile-hover-shadow-dark: #00000026;
  --tile-hover-bg: #727272;
  --tile-active-shadow-dark: #0000001a;

  --puzzle-border-dark: #585858;
  --puzzle-border-light: #dbdbdb;
  --puzzle-border-shadow: #0000000d;

  --surface-text: #0f0f0f;
}

[data-theme="lavender"] {
  --bg: #b89ee2;

  --button-bg: #9964ee;
  --button-border: #593e7c;
  --button-pressed: #8761c5;
  --button-txt: #07060f;
  --button-inset-dark: #412763;
  --button-inset-light: #8458bd;

  --panel-bg: #ab7ff1;
  --panel-border: #825bc0;
  --panel-border-style: groove;
  --panel-text: #130d22;

  --timer-bg: #dab0ff;
  --timer-border: #dbb4ff;

  --slider-rail: #635e75;
  --slider-marks: #25222e;

  --puzzle-bg: #c5a1f7;

  --tile-bg:  #9561da;
  --tile-text: #0b090f;
  --tile-border-color: #7a54c0;
  --tile-filled-shadow-dark: #0000001a;
  --tile-filled-shadow-light: #dadada33;
  --tile-hover-shadow-dark: #00000026;
  --tile-hover-bg: #9857ff;
  --tile-active-shadow-dark: #0000001a;

  --puzzle-border-dark: #46345e;
  --puzzle-border-light: #b78dee;
  --puzzle-border-shadow: #0000000d;

  --surface-text: #07040c;
}

[data-theme="fall"] {
  --bg: #e2c09e;

  --button-bg: #eea964;
  --button-border: #7c603e;
  --button-pressed: #c59361;
  --button-txt: #0f0806;
  --button-inset-dark: #634827;
  --button-inset-light: #bd9058;

  --panel-bg: #f1b87f;
  --panel-border: #c08e5b;
  --panel-border-style: groove;
  --panel-text: #22150d;

  --timer-bg: #ffe3b0;
  --timer-border: #ffe4b4;

  --slider-rail: #75665e;
  --slider-marks: #2e2622;

  --puzzle-bg: #f7cfa1;

  --tile-bg:  #daa361;
  --tile-text: #0f0c09;
  --tile-border-color: #c08754;
  --tile-filled-shadow-dark: #0000001a;
  --tile-filled-shadow-light: #dadada33;
  --tile-hover-shadow-dark: #00000026;
  --tile-hover-bg: #ffac57;
  --tile-active-shadow-dark: #0000001a;

  --puzzle-border-dark: #5e4b34;
  --puzzle-border-light: #eec28d;
  --puzzle-border-shadow: #0000000d;

  --surface-text: #0c0804;
}

[data-theme="forest"] {
  --bg: #a5e29e;

  --button-bg: #72ee64;
  --button-border: #417c3e;
  --button-pressed: #6bc561;
  --button-txt: #090f06;
  --button-inset-dark: #2a6327;
  --button-inset-light: #5dbd58;

  --panel-bg: #8af17f;
  --panel-border: #65c05b;
  --panel-border-style: groove;
  --panel-text: #11220d;

  --timer-bg: #b0ffb4;
  --timer-border: #b4ffb7;

  --slider-rail: #64755e;
  --slider-marks: #252e22;

  --puzzle-bg: #a6f7a1;

  --tile-bg:  #67da61;
  --tile-text: #0a0f09;
  --tile-border-color: #62c054;
  --tile-filled-shadow-dark: #0000001a;
  --tile-filled-shadow-light: #dadada33;
  --tile-hover-shadow-dark: #00000026;
  --tile-hover-bg: #67ff57;
  --tile-active-shadow-dark: #0000001a;

  --puzzle-border-dark: #365e34;
  --puzzle-border-light: #92ee8d;
  --puzzle-border-shadow: #0000000d;

  --surface-text: #050c04;
}

[data-theme="sea"] {
  --bg: #9ec0e2;

  --button-bg: #64a9ee;
  --button-border: #3e5a7c;
  --button-pressed: #6193c5;
  --button-txt: #060d0f;
  --button-inset-dark: #274263;
  --button-inset-light: #5885bd;

  --panel-bg: #7fb8f1;
  --panel-border: #5b8dc0;
  --panel-border-style: groove;
  --panel-text: #0d1a22;

  --timer-bg: #b0ccff;
  --timer-border: #b4cfff;

  --slider-rail: #5e6d75;
  --slider-marks: #222a2e;

  --puzzle-bg: #a1c9f7;

  --tile-bg:  #6198da;
  --tile-text: #090c0f;
  --tile-border-color: #548dc0;
  --tile-filled-shadow-dark: #0000001a;
  --tile-filled-shadow-light: #dadada33;
  --tile-hover-shadow-dark: #00000026;
  --tile-hover-bg: #57aaff;
  --tile-active-shadow-dark: #0000001a;

  --puzzle-border-dark: #34475e;
  --puzzle-border-light: #8db9ee;
  --puzzle-border-shadow: #0000000d;

  --surface-text: #04080c;
}

[data-theme="bubblegum"] {
  --bg: #d29ee2;

  --button-bg: #ce64ee;
  --button-border: #713e7c;
  --button-pressed: #ad61c5;
  --button-txt: #0a060f;
  --button-inset-dark: #582763;
  --button-inset-light: #ab58bd;

  --panel-bg: #d77ff1;
  --panel-border: #a95bc0;
  --panel-border-style: groove;
  --panel-text: #1b0d22;

  --timer-bg: #f8b0ff;
  --timer-border: #f8b4ff;

  --slider-rail: #6c5e75;
  --slider-marks: #2a222e;

  --puzzle-bg: #e6a1f7;

  --tile-bg:  #c461da;
  --tile-text: #0d090f;
  --tile-border-color: #a454c0;
  --tile-filled-shadow-dark: #0000001a;
  --tile-filled-shadow-light: #dadada33;
  --tile-hover-shadow-dark: #00000026;
  --tile-hover-bg: #d957ff;
  --tile-active-shadow-dark: #0000001a;

  --puzzle-border-dark: #56345e;
  --puzzle-border-light: #dc8dee;
  --puzzle-border-shadow: #0000000d;

  --surface-text: #0a040c;
}